 /* Google Fonts - Poppins */
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        body {
            background-image: url("https://raw.githubusercontent.com/IshitaSingh2003/SmartInternzAI_Submission_IshitaSingh/main/Guided%20Project/Flask/templates/background_image.webp");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        .container {
            height: 100vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 30px;
        }

        header {
            font-size: 28px;
            font-weight: 500;
            color: white; /* White header text */
            font-family: 'Montserrat'; /* Use Montserrat font */
            text-align: center;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Add glow to text */
 ; /* Increased distance between header and content */
        }

        .navbar ul {
            list-style-type: none;
            margin: 0;
            padding-left: 800px;
            overflow: hidden;
            background-color: black;
        }

        .navbar ul li {
            float: left;
        }

        .navbar li a {
            font-family: 'Montserrat';
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        img {
            float: right;
            margin: 0px 70px 15px 15px;
            height: 300px;
            width: 400px;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Add glow to the image */
        }

        .content-box {
            background: rgba(0, 0, 0, 0.7); /* Black with 70% opacity */
            padding: 20px;
            border-radius: 6px;
            margin-top: 20px;
            color: white; /* White text color */
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Add glow to text */
        }

        h2 {
            padding-left: 50px;
        }

        p {
            padding-left: 50px;
        }